.login-form {
    width: 100%;
    max-width: 400px;
		background-color: #ffffff;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.login-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loginPageTitle {
    font-size: 24px;
    font-weight: bold;
    color: #f70505;
}

.formGroup{
	display: flex;
	flex-direction: column;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.textHint{
	font-size: 12px;
	color: #666666;
}