.appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.appHeader {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 10px;
}

.appHeader ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}

.appHeader ul li {
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

.appNav {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.appMain {
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.appFooter {
    background-color: #333;
    color: #fff;
    padding: 10px;
}